<%= form_with model: flat do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :address, class: "form-label" %>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :price_per_night, class: "form-label" %>
    <%= f.text_field :price_per_night, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :number_of_guests, class: "form-label" %>
    <%= f.text_field :number_of_guests, class: "form-control" %>
  </div>
  <%= f.submit %>
<% end %>
